img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

hr {
  margin: 1em;
  width: 80%;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

article {
  border-bottom: 2px solid black;
  margin: 0 2.5%;
}

main {
  margin: auto;
  width: 95%;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}

label {
  font-size: 3em;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px;
}

input:valid, textarea:valid {
  border-color: #68dc71;
}

input:invalid, textarea:invalid {
  border-color: #e04743
  /*border-width: 3px;*/
}

textarea {
  width: 100%;
}
