.site-header {
  background: #4277ce;
}

.heading-group-h1 {
  float: left;
  padding: 0 0em .2em 1em;
  max-width: 14em;
}

.icon-menu {
  float: right;
  font-size: 40px;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.social-icons {
  float: right;
}

.profile-image-container {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  float: right;
  padding-top: 1.5em;
}
/*.profile-image {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  float: right;
  padding-top: 1.5em;
}*/

.tab-content {
  background-color: #dcdfe5;
}

.project-header {
  background-image: url("../images/project-image-1.jpg");
}

.project-header-img {
  width: 20%;
}

.about-feature-image {
  border-radius: 50%;
  max-width: 40%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .icon-menu {
    display: none;
    width: 800px;
  }
}

@media screen and (min-width: 800px) {
  .main-nav ul {
    display: inline-block;
    padding-top: 5.5em;
    margin: 0 0 .7em 0;
  }
  .main-nav li {
    display: inline;
  }
  .main-nav:hover ul {
    display: inline-block;
  }
  .footer-nav {
    display: inline-block;
    padding-top: 0.5em;
    margin: 0;
  }
  .footer-ul {
    display: inline-block;
  }
  .feature-image {
    max-width: 40%;
  }
}


/*@media screen and (min-width:425px) {
  .profile-image {
    max-width: 30%;
    max-height: 30%;
    float: right;
    padding-top: 1.5em;
  }
}*/
